.text-red {
    color: red
}

.mt-1 {
    margin-top: 10px
}

.flex {
    display: flex;
}

.border {
    border: 1px solid black;
}

.p-1 {
    padding: 10px;
}

.app-name-link > img {
    height: 50px;
}

.app-name-link {
    border-bottom: 1px solid black;
}

.octo-arm {
    fill: none;
}